{% load static %}
{% load icon %}

<nav class="w-full bg-white h-full flex-col flex text-black text-base items-start">
  <div class="pt-5 pl-6">
    <button class="dropdown-btn font-medium">
      Dashboard
      <div class="down-arrow fa fa-caret-down"></div>
    </button>
    <ul class="text-sm font-medium hidden" id="dropdown-content">
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#homepage"
        >
          <span class="select-none">Daily Overview</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Incidents</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">LTV Monitor</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="pt-5 pl-6">
    <button class="dropdown-btn font-medium">
      User
      <div class="down-arrow fa fa-caret-down"></div>
    </button>
    <ul class="text-sm font-medium hidden" id="dropdown-content">
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#homepage"
        >
          <span class="select-none">User Overview</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Pending Directory</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Active Directory</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">e-KTC</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Institute</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="pt-5 pl-6">
    <button class="dropdown-btn font-medium">
      Loan
      <div class="down-arrow fa fa-caret-down"></div>
    </button>
    <ul class="text-sm font-medium hidden" id="dropdown-content">
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#homepage"
        >
          <span class="select-none">Loan Overview</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Requests List</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Waiting List</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Matching List</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Outstanding List</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Watching List</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">History List</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="pt-5 pl-6">
    <button class="dropdown-btn font-medium">
      Data
      <div class="down-arrow fa fa-caret-down"></div>
    </button>
    <ul class="text-sm font-medium hidden" id="dropdown-content">
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#homepage"
        >
          <span class="select-none">Interest</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">NFT Groups</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Lenders Preferences</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Matching Logs</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">User Funnel Report</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Incentive \& Fee</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">BOT Reports</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">Statistic (Table)</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="pt-5 pl-6">
    <button class="dropdown-btn font-medium">
      Test
      <div class="down-arrow fa fa-caret-down"></div>
    </button>
    <ul class="text-sm font-medium hidden" id="dropdown-content">
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#homepage"
        >
          <span class="select-none">Calculation algorithm</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">V3 Matching algorithm</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">V2 Matching algorithm</span>
        </a>
      </li>
      <li>
        <a
          class="flex items-center rounded py-3 pl-3 pr-4 hover:bg-gray-600"
          href="#link1"
        >
          <span class="select-none">V1 Matching algorithm</span>
        </a>
      </li>
    </ul>
  </div>
  <div class="pt-5 pl-6">
    <button class="dropdown-btn font-medium">
      PhoenixV2
      <div class="down-arrow fa fa-caret-down"></div>
    </button>
    <ul class="text-sm font-medium hidden" id="dropdown-content">
    </ul>
  </div>


</ul>


<script>
  var dropdown = document.getElementsByClassName("dropdown-btn");

  for (i = 0; i < dropdown.length; i++) {
    let current = dropdown[i]
    let text = dropdown[i].innerText
    dropdown[i].addEventListener("click", function () {
      this.classList.toggle("active");
      var dropdownContent = this.nextElementSibling;
      if (dropdownContent.style.display === "block") {
        dropdownContent.style.display = "none";
        current.innerHTML = text + "<div class=\"up-arrow fa fa-caret-down\"></div>"
      } else {
        dropdownContent.style.display = "block";
        current.innerHTML = text + "<div class=\"up-arrow fa fa-caret-up\"></div>"
      }
    });
  }
</script>
